/* Elementy globalne --------------------------------------------------------------- */

:root {
    --primary-blue: #3b82f6;
    --primary-blue-hover: #2563eb;
    --light-gray-bg: #f3f4f6;
    --gray-border: #d1d5db;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --white: #ffffff;
    --danger-red: #ef4444;
    --border-radius: 8px;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #abb1b8;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

a
{
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 20px;
    color: var(--text-light);
    font-size: 14px;
}

/* Elementy index.html  --------------------------------------------------------------- */

.container {
    width: 100%;
    max-width: 800px;
    background-color: #8e959c;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 32px;
    text-align: center;
}

.login-panel h2 {
    font-size: 24px;
    font-weight: 600;
}

.login-instruction
{
    font-size: 18px;
}

.button-login {
    background-color: var(--primary-blue);
    color: var(--white);
    border: none;
    padding: 12px;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s; 
    text-decoration: none;
}

.button-login:hover {
    background-color: var(--primary-blue-hover);
}

.hidden {
    display: none;
}



/* Elementy dashboardu  --------------------------------------------------------------- */

.dashboard-container
{
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #8d9297;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-dashboard-header
{
    width: 100%;
    background-color: #76797d;
    color: var(--text-dark);

}

.sidebar-dashboard-nav
{
    float: left;
    width: 20%;
}

#admin-link
{
    display: hidden;
}

.main-dashboard-header
{
    
}

.user-info
{

}

.main-dashboard-content
{
    width: 70%;
}










